main {
    background-color: #d5d5d5;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E5EFC1;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #E5EFC1;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #393E46;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}