body {
    background-color:#EEEEEE;
    margin: 0;
}

main {
    background-color:#EEEEEE;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 78vh;
}
h1{
    font-size: 2rem;
    margin: 20px;
}

p {
    margin: 20px;
}

main div {
    margin: 30px;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form input {
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    border: 1px solid #557B83;
    border-radius: 5px;
    
}

form input:hover{
    background-color: #AAD8D3;
}

.boton {
    padding: 5px;
    margin:20px;
    background-color: #557B83;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}

.sec-3 {
    border:none
}

button {
    
    padding: 5px;
    margin:20px;
    color: #EEEEEE;
    background-color: #557B83;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#mod{
    
    background-color: #EEEEEE;
}