body {
    background-color:#E5EFC1;
    margin: 0;
}

main {
    background-color:#E5EFC1;
}
h1{
    font-size: 2rem;
    margin: 20px;
}

p {
    margin: 20px;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #E5EFC1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form input {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}