*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #557B83;
    font-size: 16px;
    font-family: 'Ysabeau', sans-serif;
}



header{
    background-color: #393E46 ;
}

/* Navegador */
nav{
    min-height: 35px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
}

.menu-horizontal > li > a {
    display: block;
    text-decoration: none;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    color:#EEEEEE;
    
}

.menu-horizontal >li:hover {
    background-color: #00ADB5;
}

.menu-horizontal > li > a:hover{
    color: #EEEEEE;

}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #393E46;
    opacity: 0.85;
    z-index: 2;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color:#00ADB5;
}

.menu-vertical li a {
    display: block;
    text-decoration: none;
    color: #EEEEEE;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
}

/* General de las secciones */

section {
    width: 100vw;
    min-height: 50vh;
    position: relative;
    overflow-y: hidden;
    
}

.sect-1 video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: -1;
    
}

.cont-1 {
    box-sizing: content-box;
    border-radius: 2%;
    background-color: #EEEEEE;
    opacity: 0.85;
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.img-portada{
    display: none;
}

h1{
    font-size: 4rem; 
}



.sect-2{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.cont-2{
    display: flex;
    justify-content: center;
    
}

.reg {
    margin:2vw;
}

.reg img{
       border-radius: 4%;  
       max-height: 40vh;
       
}


footer{
    background-color: #393E46;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-3{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.sect-3 div {
    padding: 2vh;
}

.sect-3 hr{
    min-height: 8px;
    background-color: #00ADB5;
    border: #00ADB5;
}
.cont-3{
    position: relative;
    min-height: 40vh;
}

#tour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#barra-1 {
    margin-right: 10%;
    animation: desplazamiento 8s infinite;
}

@keyframes desplazamiento { 
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translatex(70%);
    }
    100% {
      transform: translatex(0%);
    }
}

#barra-2 {
    margin-left: 10%;
    animation: desplazamiento2 8s infinite 
}

@keyframes desplazamiento2 { 
    0% {
      transform: translateX(0%);
    }

    50% {
      transform: translatex(-70%);
    }

    100% {
      transform: translatex(0%);
    }
}



/* Estilos para pantallas tipo tablet en vertical  

Se esconde el video de la portada y se reemplaza por imagen    
Se genera un scroll a la galeria de imagenes */ 

@media screen and  (min-width: 350px) and (max-width: 768px) {
    *{
        font-size: 14px;
    }

    video{ 
        display: none;
    }

    .img-portada{
        display: unset;
        width: 100%;
    }
    .cont-2{
        overflow-x: scroll;
        justify-content: left;
    }
        
    .cont-2::-webkit-scrollbar{
        height:7px;
    }
            
    .cont-2::-webkit-scrollbar-thumb{
        background-color: #00ADB5;
    }
    .reg img{
        border-radius: 4%; 
        
        
    }
}

/* Estilos para pantallas: movil en vertical
se esconde el video y se reemplaza por una imagen
se elimina fondo del contenedor de h1
se coloca links a regiones en bloque
se quita animacion de las barras */

@media screen and (max-width: 350px) {
    *{
        font-size: 10px;
    }

    nav{
        min-height: none;
    }

    video{ 
        display: none;
    }
    .sect-1{
        min-height: auto;
    }

    .img-portada{
        display: unset;
        width: 100vw;
    }

    .cont-1 {
        background-color: transparent;
        opacity: 1;
        top: 20%;

    }

    #barra-1 {
        
        animation: none;
    }

    #barra-2{
        animation: none;
    }

    .cont-2{
        flex-direction: column;
        align-items: center;
    }

    .reg h3{
        justify-content: left;

    }

    .reg img{
        max-height: 50vh;
        border-radius: 4%; 
        
    }
}