*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #557B83;
    font-size: 1rem;
}
header{
    background-color: #A2D5AB ;
}
/* Navegador */
nav{
    min-height: 35px;
    
}
.menu-horizontal{
    list-style: none;
    display: flex;
}

.menu-horizontal > li > a {
    display: block;
    text-decoration: none;
    padding: 0.75rem 2rem;
}

.menu-horizontal >li:hover {
    background-color: #39AEA9;
}
.menu-horizontal > li > a:hover{
    color: #E5EFC1;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 184px;
    background-color: #39AEA9;
    opacity: 0.85;
    z-index: 2;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color:#557B83;
}
.menu-vertical li a {
    display: block;
    text-decoration: none;
    color: #E5EFC1;
    padding: 0.75rem 2rem;
}
/* General de las secciones */

section {
    width: 100%;
    min-height: 50vh;
    position: relative;
    overflow-y: hidden;
}
 

.sect-1 video {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    
    width: 100%;
    z-index: -1;
}   
.cont-1 {
    box-sizing: content-box;
    background-color: #E5EFC1 ;
    opacity: 0.85;
    text-align: center;
    padding: 2rem;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

.sect-2{
    margin-top: 1rem;
    padding: 2rem;
}
.cont-2{
    display: flex;
    }
.sect-2::-webkit-scrollbar{
    height:7px;
}
.sect-2::-webkit-scrollbar-thumb{
    background-color: #557B83;
}
.reg {
    margin: 2rem;
}

.reg img{
    
    max-height: 300px;
    border-radius: 4%;  
    
}
footer{
    background-color: #A2D5AB;
    height: 15vh;
    position: relative;
}
footer div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.sect-3{
    overflow-x: hidden;
}
.sect-3 hr{
    min-height: 8px;
    background-color: #39AEA9;
    border: #39AEA9;
}
#barra-1 {
    margin-top: 50px;
    margin-right: 10%;
    animation: desplazamiento 8s infinite ;
    /* luego podria ver que tal queda una animation: cambioColor 8s infinite; */
}

@keyframes desplazamiento { 
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translatex(70%);
    }
    100% {
      transform: translatex(0%);
    }

  }

#barra-2 {
    margin-top: 210px;
    margin-left: 10%;
    animation: desplazamiento2 8s infinite 
}
@keyframes desplazamiento2 { 
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translatex(-70%);
    }
    100% {
      transform: translatex(0%);
    }

  }
.sect-3 p {
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);


    min-width: 30%;
    text-align: center;

}

