
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #557B83;
    font-size: 16px;
    font-family: 'Ysabeau', sans-serif;
}



header{
    background-color: #A2D5AB ;
}

/* Navegador */
nav{
    min-height: 35px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
}

.menu-horizontal > li > a {
    display: block;
    text-decoration: none;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    
}

.menu-horizontal >li:hover {
    background-color: #39AEA9;
}

.menu-horizontal > li > a:hover{
    color: #E5EFC1;

}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #39AEA9;
    opacity: 0.85;
    z-index: 2;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color:#557B83;
}

.menu-vertical li a {
    display: block;
    text-decoration: none;
    color: #E5EFC1;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
}

/* General de las secciones */

section {
    width: 100vw;
    min-height: 50vh;
    position: relative;
    overflow-y: hidden;
    
}

.sect-1 video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: -1;
    
}

.cont-1 {
    box-sizing: content-box;
    border-radius: 10%;
    background-color: #E5EFC1 ;
    opacity: 0.85;
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.img-portada{
    display: none;
}

h1{
    font-size: 4rem; 
}


/* Seccion 2: imagenes diagramado con flexbox*/

.cont-2{
    display: flex;
    padding: 2rem;
    overflow-x: hidden;
}

.reg {
    margin: 1%;
}

.reg img{
       border-radius: 4%;  
       max-height: 40vh;
       
}


footer{
    background-color: #A2D5AB;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-3{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.caja{
    margin-top: 10vh;
    padding: 1vh;
}

.caja hr{
    min-height: 8px;
    background-color: #39AEA9;
    border: #39AEA9;
}

#tour {
 padding: 10vh;
 margin-left: 10vh;
 margin-right: 10vh;
}

#barra-1 {
    margin-right: 10%;
    animation: desplazamiento 8s infinite;
}

@keyframes desplazamiento { 
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translatex(70%);
    }
    100% {
      transform: translatex(0%);
    }
}

#barra-2 {
    margin-left: 10%;
    animation: desplazamiento2 8s infinite 
}

@keyframes desplazamiento2 { 
    0% {
      transform: translateX(0%);
    }

    50% {
      transform: translatex(-70%);
    }

    100% {
      transform: translatex(0%);
    }
}



/* Estilos para pantallas tipo tablet en vertical  

Se esconde el video de la portada y se reemplaza por imagen    
Se genera un scroll a la galeria de imagenes */ 

@media screen and  (min-width: 280px) and (max-width: 768px) {
    *{
        font-size: 14px;
    }

    video{ 
        display: none;
    }

    .img-portada{
        display: unset;
        width: 100%;
    }
    .cont-2{
        overflow-x: scroll;
    }
        
    .cont-2::-webkit-scrollbar{
        height:7px;
    }
            
    .cont-2::-webkit-scrollbar-thumb{
        background-color: #05ccf4;
    }
    .reg img{
        border-radius: 4%; 
        
        
    }
}

/* Estilos para pantallas: movil en vertical
se esconde el video y se reemplaza por una imagen
se elimina fondo del contenedor de h1
se coloca links a regiones en bloque
se quita animacion de las barras */

@media screen and (max-width: 280px) {
    *{
        font-size: 2vh;
    }

    nav{
        min-height: none;
    }

    video{ 
        display: none;
    }

    .img-portada{
        display: unset;
        width: 100vw;
    }

    .cont-1 {
        background-color: transparent;
        opacity: 1;
        top: 20%;

    }

    #barra-1 {
        margin-top: 10px;
        margin-right: 10%;
        animation: none;
    }

    #barra-2{
        animation: none;
    }

    #tour {
        font-size: 1.2rem;
        padding-top: 2%;
        }

    .cont-2{
        flex-direction: column;
        align-items: center;
    }

    .reg img{
        max-height: 60vh;
        border-radius: 4%; 
        
    }
}