* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #557B83;
}

main {
    display: flex;
}

section {
    background-color: #E5EFC1;
    flex: 1;
    padding-left: 1rem;
}

article {
    text-align: justify;
    padding-top: 2%;
    margin: 2%;
}

.provincias {
    list-style: none;
    display: flex;
}

.provincias li {
    padding-right: 20px;
}

h1 {
    font-size: 4rem;
}

h3 {
    padding-bottom: 1rem;
}

section ol {
    padding-bottom: 1rem;
}

aside {
    flex: 0 0 25%;
    display: flex;
    flex-wrap: wrap;
}

aside img {
    width: 50%;
    height: 100px;
    box-sizing: border-box;
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    section {
        padding: 1rem;
    }

    aside {
        flex: 0 0 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    aside img {
        width: 100px;
        margin-right: 5px;
    }
}